---
import Hero from '@components/Hero.astro'
import LinkButton from '@components/LinkButton.astro'
import SectionContainer from '@components/SectionContainer.astro'
import Title from '@components/Title.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="CentralMat">
  <Hero
    height="380px"
    src="/img/pexels-marc-mueller-380768.jpg"
    placeholder="/img/pexels-marc-mueller-380768small.jpg"
  >
    <img class="heroLogo" src="/img/logo2.png" alt="Logo de CentralMat" />
    <h1>TU SOCIO CONFIABLE EN MATERIALES DE CONSTRUCCIÓN</h1>
    <div class="heroText">
      <p>
        En CentralMat nos dedicamos a ofrecer soluciones integrales y servicios
        de calidad en el suministro de materiales de construcción.
      </p>
      <p>
        Nuestro compromiso es brindar a nuestros clientes un servicio confiable,
        eficiente y personalizado que supere sus expectativas.
      </p>
    </div>
  </Hero>
  <SectionContainer>
    <Title>SOBRE NOSOTROS</Title>
    <div class="welcome">
      <h3>¡Bienvenido a CentralMat!</h3>
      <p>
        En CentralMat, nos enorgullece presentarnos como un equipo de
        profesionales con una amplia experiencia en el rubro de materiales de
        construcción, tanto a nivel nacional como internacional. Con muchos años
        en el mercado, hemos establecido una sólida trayectoria en el
        abastecimiento a edificios y constructoras de todo el país.
      </p>
      <p>
        Nuestro equipo cuenta con una valiosa experiencia en el mercado
        internacional, habiendo participado activamente en importaciones y
        exportaciones. Estamos al tanto de las últimas tendencias y avances en
        el sector, manteniéndonos actualizados a través de la participación en
        ferias y eventos sectoriales tanto a nivel mundial como en Argentina.
      </p>
      <p>
        En CentralMat, entendemos las necesidades y desafíos que enfrentan
        nuestros clientes en la industria de la construcción. Por eso, nos
        esforzamos por ofrecerles productos de alta calidad, garantizando la
        satisfacción de sus demandas y cumpliendo con los estándares más
        exigentes.
      </p>
      <p>
        Nos destacamos por nuestra amplia gama de materiales de construcción,
        que incluyen productos tanto nacionales como importados. Nuestro
        objetivo es brindar a nuestros clientes soluciones integrales, adaptadas
        a sus proyectos y presupuestos.
      </p>
      <p>
        Además de nuestra dedicación a la calidad de los productos, en
        CentralMat también nos enfocamos en proporcionar un excelente servicio
        al cliente. Nuestro equipo está aquí para asesorarte, responder a tus
        preguntas y asegurarnos de que encuentres los materiales adecuados para
        tu proyecto.
      </p>
      <p>
        Gracias por elegir a CentralMat como tu proveedor de confianza en
        materiales de construcción. Esperamos poder acompañarte en cada etapa de
        tu proyecto y brindarte la calidad y el servicio que mereces.
      </p>
    </div>
    <div class="misionVision">
      <h3>Nuestra Misión</h3>
      <p>
        En Central Mat nuestra misión es ser el principal proveedor de
        soluciones de abastecimiento de materiales de construcción, trabajando
        en estrecha colaboración con nuestros clientes para satisfacer sus
        necesidades y contribuir al éxito de sus proyectos. Nos esforzamos por
        ofrecer productos y servicios de calidad superior, precios altamente
        competitivos y una logística eficiente, mientras mantenemos una relación
        duradera basada en la confianza mutua.
      </p>
    </div>
    <div class="misionVision">
      <h3>Nuestra Visión</h3>
      <p>
        Nuestra visión es ser reconocidos como el socio estratégico y confiable
        en la industria de la construcción, siendo líderes en la provisión de
        materiales de calidad y soluciones adaptadas a cada proyecto. Buscamos
        constantemente la innovación y la mejora continua para satisfacer las
        necesidades cambiantes de nuestros clientes, brindando asistencia
        técnica capacitada y personalizada. Trabajamos juntos con nuestros
        clientes para construir con éxito y excelencia, siendo la opción
        preferida en el abastecimiento de materiales para obras y proyectos.
      </p>
    </div>
    <LinkButton href="/productos" type="secondary">
      Nuestros Productos
    </LinkButton>
  </SectionContainer>
</Layout>

<style>
  .heroLogo {
    width: 160px;
    height: 160px;
    background-color: var(--color-light);
    border-radius: 1000px;
    box-shadow: inset 0px 0px 0px 8px var(--color-primary),
      0px 4px 8px 0px var(--color-dark-25);
  }

  h1 {
    color: var(--color-light);
    font-size: var(--font-size-title);
    text-align: center;
    max-width: 400px;
    font-weight: 700;
  }

  .heroText {
    color: var(--color-light);
    font-size: var(--font-size-text);
    text-align: center;
    font-weight: 400;
    margin: 0 20px;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .misionVision {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-top: 1px solid var(--color-dark-25);
    padding: 80px 0 30px;
  }
</style>
