---
import SectionContainer from '@components/SectionContainer.astro'
import Title from '@components/Title.astro'
import Layout from '@layouts/Layout.astro'
import Form from '@components/Form.astro'
---

<Layout title="Contacto - CentralMat">
  <SectionContainer>
    <div class="w-full flex flex-col gap-5">
      <Title>PONTE EN CONTACTO</Title>
      <div>
        <p>
          ¡Gracias por visitar nuestra página de contacto! Estamos encantados de
          ayudarte en lo que necesites.
        </p>
        <p>
          Si tienes alguna consulta, solicitud de
          cotización o simplemente deseas más información sobre nuestros productos
          y servicios, no dudes en completar el formulario de contacto a
          continuación.
        </p>
        <p>
          Nuestro equipo estará encantado de responder tus preguntas
          y brindarte una atención personalizada.
        </p>
      </div>
    </div>
    <div class="w-full flex flex-col gap-2.5">  
      <h3 class="text-[var(--font-size-title)] font-semibold">Formulario de Contacto</h3>
      <p class="text-[var(--font-size-text)]">Completa el formulario y nos pondremos en contacto contigo lo mas rapido posible.</p>
      <Form />
    </div>
  </SectionContainer>

  <SectionContainer>
    <div class="flex f-full">
      <div class="flex-1 flex flex-col gap-4">
        <h3>Información de Contacto</h3>
        <p>Correo Electrónico: <a href="mailto:contacto@centralmat.com.ar" target="_blank">contacto@centralmat.com.ar</a></p>
        <p>Horario de Atención: 09:00 - 17:00 Lunes a Viernes</p>
      </div>
      <div>
        <h3>Redes Sociales</h3>
        <p>Síguenos en nuestras redes sociales para estar al tanto de nuestras novedades y promociones:</p>
        <p>Instagram: <a class="text-[var(--color-dark)]" href="https://www.instagram.com/centralmatsrl/?hl=es" target="_blank">@centralmatsrl</a></p>
        <p>LinkedIn: <a class="text-[var(--color-dark)]" href="https://www.linkedin.com/company/centralmat-srl/" target="_blank">CENTRAL MAT SRL</a></p>
      </div>
    </div>
  </SectionContainer>
</Layout>
