---
import LinkButton from './LinkButton.astro'
---

<footer class="flex flex-col md:flex-row justify-between items-center gap-5 px-24 md:px-5 py-5 border-t border-dark-25 overflow-x-auto overflow-y-hidden scrollbar-none">
  <img class="w-36 h-16 object-cover" src="/img/logo3.png" alt="Logo de CentralMat" />

  <nav>
    <ul class="flex gap-2 list-none">
      <li><a href="/inicio/" class="text-dark text-sm no-underline">Inicio</a></li>
      <li><a href="/productos/" class="text-dark text-sm no-underline">Productos</a></li>
      <li><a href="/servicios/" class="text-dark text-sm no-underline">Servicios</a></li>
      <li><a href="/nosotros/" class="text-dark text-sm no-underline">Nosotros</a></li>
      <li><a href="/contacto/" class="text-dark text-sm no-underline">Contacto</a></li>
    </ul>
  </nav>

  <div class="flex flex-col">
    <p class="text-sm">Contacto: <a href="mailto:contacto@centralmat.com.ar" target="_blank" class="text-dark">contacto@centralmat.com.ar</a></p>
    <p class="text-sm">Sitio web: <a href="https://www.centralmat.com.ar" target="_blank" class="text-dark">www.centralmat.com.ar</a></p>
  </div>

  <div>
    <LinkButton href="/contacto/" type="secondary">Contactanos</LinkButton>
  </div>
</footer>
