---
---

<header class="sticky top-0 z-10 flex items-center justify-between gap-6 px-24 h-16 shadow-md bg-[var(--color-light)] md:px-15 sm:px-10">
  <div class="h-full flex overflow-hidden">
    <a href="/" class="h-full">
      <img class="w-56 h-full object-cover" src="/img/logo1.png" alt="Logo de CentralMat" />
    </a>
  </div>
  <button id="hamburger" class="sm:hidden flex flex-col gap-1.5 cursor-pointer" aria-label="Abrir menú de navegación">
    <span class="block w-7 h-0.5 bg-[var(--color-secondary)]"></span>
    <span class="block w-7 h-0.5 bg-[var(--color-secondary)]"></span>
    <span class="block w-7 h-0.5 bg-[var(--color-secondary)]"></span>
  </button>
  <nav class="absolute sm:relative bottom-0 left-0 w-full h-[calc(100dvh-4rem)] sm:h-auto hidden flex-col sm:flex items-center sm:items-end gap-10 px-10 bg-[var(--color-light)] sm:bg-transparent translate-y-full sm:translate-none">
    <div class="sm:hidden">
      <img class="h-24 w-36 object-cover" src="/img/logo2.png" alt="Logo de CentralMat" />
    </div>
    <ul class="flex gap-6 list-none flex-col items-center sm:flex-row sm:gap-8">
      {
        [
          {
            title: 'INICIO',
            href: '/'
          },
          {
            title: 'PRODUCTOS',
            href: '/productos'
          },
          {
            title: 'SERVICIOS',
            href: '/servicios'
          },
          {
            title: 'NOSOTROS',
            href: '/nosotros'
          },
          {
            title: 'CONTACTO',
            href: '/contacto'
          }
        ].map((data) => (
          <li><a href={data.href} class="text-[var(--color-secondary)] font-semibold text-sm relative after:block after:w-full after:h-px after:bg-[var(--color-secondary)] after:opacity-0 hover:after:opacity-100 transition-opacity duration-300">{data.title}</a></li>
        ))
      }
    </ul>
    <button class="flex sm:hidden">
      <img class="w-auto h-auto" src="/ico/cross.svg" alt="Icono de cerrar menú desplegable" aria-hidden="true" />
    </button>
  </nav>
</header>

<script>
  const hamburger = document.querySelector('#hamburger');
  const nav = document.querySelector('nav');
  hamburger?.addEventListener('click', () => {
    nav?.classList.toggle('flex');
    nav?.classList.toggle('hidden');
  });

  const close = document.querySelector('nav button');
  close?.addEventListener('click', () => {
    nav?.classList.add('hidden');
    nav?.classList.remove('flex');
  });
</script>
