---
interface Props {
  src: string
  placeholder?: string
  height: string
  plain?: boolean
}

const { src, placeholder = '', height, plain = false } = Astro.props
---

<section class="w-full overflow-hidden relative" style={{ height }}>
  <div
    class="w-full h-full bg-no-repeat bg-center bg-cover relative"
    style={{ backgroundImage: 'url(' + placeholder + ')' }}
    aria-hidden="true"
  >
    <img
      id="hero-image"
      src={src}
      alt="imagen de fondo"
      aria-hidden="true"
      class="w-full h-full object-cover opacity-0 data-loaded:opacity-100 transition-opacity duration-1000 ease-in-out"
    />
    <span
      class={`absolute left-0 top-0 w-full h-full bg-[radial-gradient(50%_50%_at_50%_50%,rgba(46,46,46,0)_0%,rgba(46,46,46,0.5)_100%)] backdrop-blur-[10px] transition-[backdrop-filter] duration-1000 ease-in-out ${plain ? '' : 'backdrop-filter-none'}`}
    ></span>
  </div>
  <div class="absolute w-full h-full top-0 left-0 flex flex-col justify-center items-center gap-5">
    <slot />
  </div>
</section>

<script>
  const img = document.querySelector('#hero-image') as HTMLImageElement | null;
  function loaded() {
    if (!img) return
    img.dataset.loaded = ""
  }
  if (img?.complete) {
    loaded();
  } else {
    img?.addEventListener('load', loaded);
  }
</script>
