---
interface Props {
  href: string
  type?: 'default' | 'primary' | 'secondary'
}

const { href, type = 'default' } = Astro.props

const styles = {
  default: 'text-[var(--color-secondary)] bg-[var(--color-light)] shadow-[0_4px_8px_0_var(--color-dark-25)] rounded font-semibold',
  primary: 'text-[var(--color-light)] bg-[var(--color-primary)] hover:bg-[var(--color-primary-light)] font-normal transition duration-300',
  secondary: 'text-[var(--color-light)] bg-[var(--color-secondary)] hover:bg-[var(--color-secondary-light)] font-normal transition duration-300'
}
---
<a href={href} class={`py-1.5 px-3.5 text-sm no-underline mx-auto ${styles[type]}`} role="button">
  <slot />
</a>
