---
interface Props {
  href: string
  type?: 'default' | 'primary' | 'secondary'
}

const { href, type = 'default' } = Astro.props
---
<a href={href} class={type} role="button">
  <slot />
</a>

<style>
  a {
    padding: 7px 15px;
    font-size: var(--font-size-text);
    text-decoration: none;
    margin-inline: auto
  }

  .default {
    color: var(--color-secondary);
    background-color: var(--color-light);
    box-shadow: 0 4px 8px 0 var(--color-dark-25);
    border-radius: 4px;
    font-weight: 600;
  }

  .primary {
    background-color: var(--color-primary-light);
    color: var(--color-light);
    font-weight: 400;
    transition: 300ms;
  }

  .primary:hover {
    background-color: var(--color-primary);
  }

  .secondary {
    background-color: var(--color-secondary-light);
    color: var(--color-light);
    font-weight: 400;
    transition: 300ms;
  }

  .secondary:hover {
    background-color: var(--color-secondary);
  }
</style>
