---
import LinkButton from '@components/LinkButton.astro'
import SectionContainer from '@components/SectionContainer.astro'
import Title from '@components/Title.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Servicios - CentralMat">
  <SectionContainer>
    <div class="w-full flex gap-6 content-between">
      <div class="flex flex-col gap-6">
        <Title>NUESTROS SERVICIOS</Title>
        <span class="flex flex-col gap-6">
          <p class="text-sm">
            En CentralMat, presentamos una amplia gama de servicios
            especializados diseñados para atender las demandas específicas de
            nuestros clientes en la industria de la construcción.
          </p>
          <p class="text-sm">
            Contamos con un equipo de expertos altamente capacitados y
            experimentados que están preparados para ofrecer soluciones eficaces
            y adaptadas a cada situación.
          </p>
        </span>
      </div>
      <img class="w-64 h-52 object-cover flex-0 hidden md:inline-block" src="/img/logo2.png" alt="Logo de CentralMat" />
    </div>
  </SectionContainer>
  <SectionContainer>
    <div class="flex gap-5 flex-wrap justify-between">
      <div class="flex flex-col items-center gap-5 basis-full md:basis-[calc(50%-20px)] shadow-[var(--shadow-dark)_0_4px_12px] py-10 px-5 rounded-lg">
        <img
          class="size-20 object-contain"
          src="/ico/logistics-box-package-ultrathin-outline-svgrepo-com.svg"
          alt="Icono de Logística Eficiente"
        />
        <h3 class="text-center text-sm font-semibold">Logística Eficiente</h3>
        <p class="text-sm text-center">
          Coordinamos y gestionamos toda la cadena de suministro de materiales
          de construcción, asegurando una entrega oportuna y confiable en el
          lugar de trabajo.
        </p>
      </div>
      <div class="flex flex-col items-center gap-5 basis-full md:basis-[calc(50%-20px)] shadow-[var(--shadow-dark)_0_4px_12px] py-10 px-5 rounded-lg">
        <img
          class="size-20 object-contain"
          src="/ico/logistics-commercial-truck-ultrathin-transport-svgrepo-com.svg"
          alt="Icono de Entrega Programada"
        />
        <h3 class="text-center text-sm font-semibold">Entrega Programada</h3>
        <p class="text-sm text-center">
          Ofrecemos entregas programadas según las necesidades de cada cliente,
          cumpliendo con los plazos acordados y evitando retrasos en los
          proyectos.
        </p>
      </div>
      <div class="flex flex-col items-center gap-5 basis-full md:basis-[calc(50%-20px)] shadow-[var(--shadow-dark)_0_4px_12px] py-10 px-5 rounded-lg">
        <img
          class="size-20 object-contain"
          src="/ico/support-technology-svgrepo-com.svg"
          alt="Icono de Asistencia Técnica Personalizada"
        />
        <h3 class="text-center text-sm font-semibold">Asistencia Técnica Personalizada</h3>
        <p class="text-sm text-center">
          Nuestro equipo de profesionales altamente capacitados brinda
          asesoramiento técnico y soluciones personalizadas, ayudando a
          seleccionar los materiales adecuados y resolviendo consultas y
          problemas.
        </p>
      </div>
      <div class="flex flex-col items-center gap-5 basis-full md:basis-[calc(50%-20px)] shadow-[var(--shadow-dark)_0_4px_12px] py-10 px-5 rounded-lg">
        <img
          class="size-20 object-contain"
          src="/ico/collaboration-svgrepo-com.svg"
          alt="Icono de Logística Colaboración Efectiva"
        />
        <h3 class="text-center text-sm font-semibold">Colaboración Efectiva</h3>
        <p class="text-sm text-center">
          Trabajamos en estrecha colaboración con nuestros clientes,
          involucrándonos desde las etapas iniciales del proyecto, estableciendo
          planes de entrega y asegurando una ejecución exitosa.
        </p>
      </div>
    </div>
  </SectionContainer>
  <SectionContainer>
    <p class="text-sm">
      Nuestro éxito es proporcionar soluciones eficientes y personalizadas para
      garantizar el suministro oportuno y confiable de materiales de
      construcción a nuestros clientes.
    </p>
    <div class="w-full flex justify-center">
      <LinkButton href="/contacto" type="secondary">
        Solicitá mas Información
      </LinkButton>
    </div>
  </SectionContainer>
</Layout>
