---
import Header from '@components/Header.astro'

interface Props {
  title: string
}

const { title } = Astro.props

---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="tbd..." />
    <!-- add description -->
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-primary: #f79030;
    --color-primary-light: #ffe3c9;
    --color-secondary: #24448d;
    --color-secondary-light: #95ade4;
    --color-dark: #313131;
    --color-dark-25: #3131313F;
    --color-light: #ffffff;
    --shadow-dark: #ADADAD3F;
    --font-size-title: 20px;
    --font-size-subtitle: 18px;
    --font-size-text: 14px;
  }
  html {
    font-family: 'Lato', sans-serif;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
</style>
